* {
    background-color: whitesmoke;
    text-decoration: none;
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    padding: 10px;
}

.header_title {
    margin: 0; /* H2 elementlar odatda default margin bilan keladi */
}

.navbar__list {
    display: flex;
    gap: 15px; /* oraliq qo‘shish uchun */
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__list_item {
    text-transform: uppercase;
    padding: 10px;
}
