* {
    background-color: whitesmoke;
    text-decoration: none;
    list-style: none;
}

body {
    margin: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    padding: 10px;
}

.header_title {
    margin: 0; /* H2 elementlar odatda default margin bilan keladi */
}

.navbar__list {
    display: flex;
    gap: 15px; /* oraliq qo‘shish uchun */
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__list_item {
    text-transform: uppercase;
    padding: 10px;
}

section {
    margin-top: 5px;
    border: 2px solid;
}

.date h1 {
    text-align: right;
    margin-right: 10px;
}

.pray_time_block_items {
    text-align: center;
}

.pray_time_block_item {
    text-transform: uppercase;
}